<h1 id="oop-lab-3-diet-and-restaurants">OOP Lab 3 - Diet and Restaurants</h1>
<p>(the Italian version is available in file <a href="README_it.md">README_it.md</a>).</p>
<p>Write an application to manage a diet by means of nutritional values computation.</p>
<p>The application must allow the definition of raw materials, their use as ingredients for recipes, the definition of products and menus.</p>
<p>All the classes must be in the package <code>diet</code>.</p>
<h2 id="r1-raw-materials">R1 - Raw Materials</h2>
<p>The system works though the facade class Food.</p>
<p>To define a raw material, we can use the method <code>defineRawMaterial()</code> that accepts as arguments the name, the kilo-calories, the amount of proteins, carbohydrates (carbs), and fat; all the values refer to 100 grams of raw material. The name of the raw material can be considered unique.</p>
<p>To retrieve some information about the raw materials we can use the method <code>rawMaterials()</code> which returns a list of raw materials, sorted by name in alphabetic order. To get info about a specific material, we can use the method <code>getRawMaterial()</code> that accepts the name of the raw material and returns the corresponding raw material.</p>
<p>The raw materials returned by the above methods are objects implementing the interface <code>NutritionalElement</code>, which provides the getter methods <code>getName()</code>, <code>getCalories()</code>, <code>getProteins()</code>, <code>getCarbs()</code>, <code>getFat()</code>. Calories are expressed in KCal, while proteins, carbs, and fat are expressed in grams.</p>
<p>Moreover, the interface includes the method <code>per100g()</code> that indicates whether the values refer to 100 grams of nutritional element or represent an absolute value. For raw materials the nutritional values are always expressed per 100 grams, therefore the method returns true.</p>
<h2 id="r2-products">R2 - Products</h2>
<p>The diet may include also pre-packaged products (e.g. an ice cream or a snack). Products are defined by means of the method <code>defineProduct()</code> of class <code>Food</code> accepting as arguments the name, the kilo-calories, the amount of proteins, carbohydrates (carbs), and fat. Such values express the value for the whole product, therefore the method <code>per100g()</code> returns false. The name of the product can be considered unique.</p>
<p>To retrieve information about the products we can use the method <code>products()</code> of class Food that returns a collection of products sorted by name. To get information about a specific product, method <code>getProduct()</code> is available that accepts the name of the product and returns the corresponding object.</p>
<p>Both methods return the products as object implementing the interface <code>NutritionalElement</code> (described in the previous requirement); the values are expressed for the whole product (i.e. the method <code>per100g()</code> returns false).</p>
<h2 id="r3-recipes">R3 - Recipes</h2>
<p>Raw materials can be combined as ingredients of recipes. To define a recipe we can use the method <code>createRecipe()</code>, from class <code>Food</code>, that accepts as argument the name of the recipe. The name of the recipe can be considered unique.</p>
<p>A recipe is represented by an object of class <code>Recipe</code> that allows adding new ingredients by means of its method <code>addIngredient()</code> accepting as arguments the name of the raw material and the relative amount in grams.</p>
<p>Class <code>Recipe</code> implements the interface <code>NutritionalElement</code> and the values are expressed per 100 grams.</p>
<p>To retrieve the information about the recipes we can use the method <code>recipes()</code>, of class Food, that returns a collection of recipes sorted by name. To get information regarding a specific recipe we can use the method <code>getRecipe()</code> that accepts as argument the name of the recipe and return the corresponding recipe. Both methods return recipes as <code>NutritionalElement</code>.</p>
<p>Warning: While the sum of the amounts of ingredients (in grams) of a recipe is not necessarily equal to 100g, the nutritional values of the recipe must refer to an ideal portion of 100 grams.</p>
<h2 id="r4-menu">R4 - Menu</h2>
<p>A menu consists of either portions of recipes or pre-packaged products.</p>
<p>Menus can be created with method <code>createMenu()</code> of class <code>Food</code>, that accepts as argument the name of the menu.</p>
<p>A menu is represented by class <code>Menu</code> that allows to add a portion of a recipe to the menu through method <code>addRecipe()</code> that accepts as argument the name of the recipe and the size of the portion, in grams.</p>
<p>To add an item of a pre-packaged product, class Menu provides the method <code>addProduct()</code> that accepts as argument the name of the product.</p>
<p>Class Menu implements the NutritionalElement interface; in this case the values are referred to the whole menu.</p>
<hr>
<p><strong>Additional requirements</strong></p>
<h2 id="r5-restaurant">R5 - Restaurant</h2>
<p>The management of restaurants is performed through the class <code>Takeaway</code> that represents a restaurant chain.
The constructor requires a reference to a <code>Food</code> object so that all the ingredients, products, and recipes can be defined once for all.</p>
<p>Restaurants can be created using the method <code>addRestaurant()</code> that accepts the name of the restaurant and returns a <code>Restaurant</code> object. Getter <code>getName()</code> returns a restaurant&#39;s name. The method <code>restaurants()</code> of class <code>Takeaway</code> returns the names of the registered restaurants.</p>
<p>Through the method <code>setHours()</code> working hours can be set for the restaurant. The method accepts an array of strings (with even number of elements) in the format <code>&quot;HH:MM&quot;</code>, so that the closing hours follow the opening hours (e.g., for a restaurant opened from 8:15 until 14:00 and from 19:00 until 00:00, arguments would be <code>&quot;08:15&quot;, &quot;14:00&quot;, &quot;19:00&quot;, &quot;00:00&quot;</code>).
It is possible to know whether a restaurant is open at a given time using the method <code>isOpenAt()</code> that accepts a time (with the previous format).</p>
<p>Restaurants offer different menus, which can be added to the list of menus offered by a restaurant with the method <code>addMenu()</code> accepting as argument the <code>Menu</code> object. Such menus are linked to the restaurant and can be later used to make orders. It is possible to retrieve a menu of a restaurant given its nane using the method <code>getMenu()</code>.</p>
<h2 id="r6-users">R6 - Users</h2>
<p>A customer is defined by providing their first name, last name, email and phone number to the method <code>registerCustomer()</code> that returns a User object. Getters are provided for all the fields (<code>getFirstName()</code>, <code>getLastName()</code>, <code>getEmail()</code>, <code>getPhone()</code>), while setters are provided for the email and phone number only (<code>setEmail()</code>, <code>setPhone()</code>). The string representation of a <code>User</code> object returns the last name separated by a space and followed by the first name.</p>
<p>To retrieve information about the customers we can use the method <code>customers()</code> of class <code>Takeaway</code> that returns a collection of customers sorted by their last name and first name.</p>
<h2 id="r7-orders">R7 - Orders</h2>
<p>A registered customer can make an order at one of the available restaurants. For such purpose method <code>createOrder()</code> of class <code>Takeaway</code> accepts as arguments the <code>User</code> object making the order, restaurant&#39;s name, and the desired delivery time (with the same format as in <a href="#r5-restaurant">R5</a> ). Furthermore, if for the given order delivery time is outside the working hours for the restaurant, delivery time is set to the first successive opening hour (e.g., making an order for a restaurant having working hours from <em>8:15</em> until <em>14:00</em> and from <em>19:00</em> until <em>00:00</em>, and asking for a delivery at 15:30, would result in having the delivery time set for <em>19:00</em>).</p>
<p>An order can have three statuses: <code>ORDERED</code>, <code>READY</code>, <code>DELIVERED</code> accessible through setter and getter <code>setStatus()</code> and <code>getStatus()</code> (<code>ORDERED</code> by default). Furthermore, payment type for an order can be: <code>PAID</code>, <code>CASH</code>, <code>CARD</code>, accessible through setter and getter <code>setPaymentMethod()</code> and <code>getPaymentMethod()</code> (<code>CASH</code> by default).</p>
<p>Orders are made up of a set of menus with the relative quantity.
Menus can be added to an order by calling the method <code>addMenus()</code> and specifying the menu name and the quantity.</p>
<p>When an order is printed to a string, it should be formatted like:</p>
<pre><code><span class="hljs-string">"RESTAURANT_NAME, USER_FIRST_NAME USER_LAST_NAME : (DELIVERY_HH:MM):</span>
    MENU_NAME_1-&gt;MENU_QUANTITY_1
    ...
    MENU_NAME_k-&gt;MENU_QUANTITY_k
<span class="hljs-string">"</span>
</code></pre><p>The menu names are sorted alphabetically and are printed on different lines, each preceded by a tab (<code>&#39;\t&#39;</code>).</p>
<p>Warning: If a certain menu has been previously added to an order, using it again as an argument in <code>addMenus()</code>, should overwrite the previously defined quantity</p>
<h2 id="r8-information">R8 - Information</h2>
<p>To retrieve some information about the restaurants we can use the method <code>openRestaurants()</code> that has one string argument with the format &quot;<code>HH:MM</code>&quot; and returns a collection of <code>Restaurant</code>s that are opened at the given time, sorted by their name alphabetically. A restaurant is opened if there is at least one working hour segment such that the defined time is inside the range <code>[open, close)</code>.</p>
<p>Information about certain orders for a restaurant can be obtained through method <code>ordersWithStatus()</code> of the class <code>Restaurant</code>. Such method returns a <code>String</code> obtained by concatenating all orders satisfying the criteria.
E.g.</p>
<pre><code>Napoli, Judi Dench : (<span class="hljs-number">19</span>:<span class="hljs-number">00</span>):
    M6-&gt;<span class="hljs-number">1</span>
Napoli, Ralph Fiennes : (<span class="hljs-number">19</span>:<span class="hljs-number">00</span>):
    M1-&gt;<span class="hljs-number">2</span>
    M6-&gt;<span class="hljs-number">1</span>
</code></pre><p>The list is sorted by name of restaurant, name of the customer, and delivery time.</p>
<hr>
<p>Version 1.0 - 2023-04-12</p>
